body {
    background-color: black;
    background-image: url("../img/bg1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
    color: silver;
    display: flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5em;
}

/* unvisited link */

.divWindow  a:link {
    color: #669999;
}

.divWindow a:visited {
    color: #6f6396;
}

.divWindow  a:hover {
    color: rgb(189, 176, 66);
}

.divWindow  a:active {
    background-color:white;
}
.divWindow  a {
    color: white;
}



.divWindow {
    opacity: 0.9;
    justify-content: center;
    margin: 0;
}

.headSub h1 {
    display: inline-block;
    font-size: 2em;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.windowHead {
    padding-bottom: 0;
    padding-top: 10px;
}

.headSub {
    display: inline-block;
    border: 2px solid silver;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #061539;
    color: #7887AB;
    box-shadow: 5px 0px 5px 2px rgba(0,0,0,0.63);
}

.windowBody {
    background-color: #061539;
    color: #7887AB;
    border: 2px solid silver;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.63);
    min-width: 150px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.windowBody2 {
    background-color: #061539;
    color: #7887AB;
    border: 2px solid silver;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.63);
    min-width: 150px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.sig {
    text-align: right;
}


.MainSectionStyle {
    /* width: 100%; */
    min-height: 100vh;
    width: 100vw;
    max-width:100%;  /* ignore scrollbar (bug */
    display:flex;
    align-items: center;
    justify-content: center;
}

.NoDisplay {
    display: none;
}
#maindiv {

    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*//////////
// Header //
//////////*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 999;
    /* position: fixed; */
    /* position: absolute; */
    width:100vw;
    /* color: white; */
    margin:0px;
    max-width: 100%;
    position: fixed;
    top:0px;
    left:0px;
}

.header_bg1{
    background-color: rgba(127, 255, 212,0.5);
}
.NoDisplay {
    display: none;
}
#TitlePortefolio {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: large;
    margin-left: 10px;
    margin-top: 10px;
    /* color: white; */
}
.BurgerIcon{
    font-size: 2em;
    margin-right: 10px;
}
#NavMenu {
    width:100vw;  
    margin-right: initial;
}
#NavMenu ul {
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-left:0px;
    width: 100%;
    height: 100%;
    margin:0px;
    
}

#NavMenu ul li {
    list-style: none;
    /* padding: 10px; */
    margin:10px;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 900;
    /* color: white; */
}

#NavMenu a {
    color:inherit;
    width: 100%;
    text-align: center;
}
 /* unvisited link */
a:link {
    color: inherit;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: inherit;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: inherit;
    background-color: grey;
    text-decoration: none;
}

/* selected link */
a:active {
    color: inherit;
    text-decoration: none;
} 
@media screen and (min-width:1050px) {
    #BurgerMenu {
        display: none;
    }
    #NavMenu{
        display: initial;
        visibility: initial;
        width: auto;
        margin-right: 0px;
    }

    #NavMenu ul {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
}

/*//////////////
// Compétence //
//////////////*/
.midSection1{
    height: 10px;
    
    /* background-image: linear-gradient(to bottom, #07073d, #1a2860, #2f4984, #456ca8, #5d91cd); */
    border-style: groove;
    border-color: gray;
    background-color: gray;
    border-width: 4px;
}
#SectionComp {
    /* background-color: #5d91cd; */
    color:white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../rsc/img/blue_fall.png');
    background-size:cover;
    flex-direction: column;
}
#SectionComp h2 {
    text-align: center;
}
#SectionComp h3 {
    text-align: center;
    margin:0px;
    padding:0px;
}
.textMid {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#SectionComp_MainDiv {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    align-items: center;
}
#SectionComp_MainDiv > div{
    margin-top: 5px;
}

#SectionComp_MainDiv  p {
    text-align: center;
}
.Comp_Div_Main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding:5px;
    width: 90vw;
    /* background-color: yellow; */
    /* border: 2px solid black; */
}

.Div_Main_Buttons {
    margin:2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex: 1 0 25;
    width:100%;
    height:90%;
    /* background-color: red; */
}

.Div_Main_Buttons > div {
    /* width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px; */
    text-align: center;
    border: solid 2px;
    width: 150px;
    height:35px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comp_detail div:nth-child(2) {
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
/* .Div_Main_Buttons > div {
    display: flex;
    padding:5px;
   
} */

.Span_Important {
    font-weight: bold;
}
.info_hide {
    display: none;
}
.comp_detail{
    height: 100%;
}
/* .comp_detail * {
    text-align: center;
} */
@media screen and (min-width: 640px) {
    #SectionComp_MainDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex : 1 0 45%;
        padding: 5px;
        
        /* background-color: yellow; */
        /* border: 2px solid black; */
    }
    .Comp_Div_Main {
        max-width: 600px;
        height: 400px;
    }
}
